@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

:root {
	--russian-violet: #38023b;
	--smoky-black: #0f1108;
	--yellow-green: #9bc53d;
	--bright-pink-crayola: #ff6978;
	--baby-powder: #fdfffc;
	--baby-blue: #a2d2ff;
	--delete-red: #ff4c4c;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* Using the new dark colors from your palette for the background */
	background: linear-gradient(to bottom, var(--russian-violet), var(--smoky-black));
	background-attachment: fixed;
}

p,
h1,
h2,
h3,
h4 {
	color: var(--baby-powder);
	scroll-margin: 8rem;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

	h1,
	h2,
	h3,
	h4 {
		scroll-margin: 0;
	}
}

* {
	font-family: 'Fira Code', monospace;
	scrollbar-width: none;
	box-sizing: border-box;
}
